.header-container
{
    position: absolute;
    color:white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:20px 0 15px 40px;
}
.header-navigation ul 
{
    display: flex;
    list-style-type: none;
    gap: 50px;
    backdrop-filter: blur(80px);
    justify-content: end;
    width: 800px;
    padding: 0 50px;
}
.header-navigation ul a 
{
    color:white;
    text-decoration: none;
    font-family: 'Barlow Condensed';
    font-size: 20px;
    letter-spacing: 2px;
    text-align: right;
    display: flex;
    align-items: center;
    height: 100px;
}
.burger-icon
{
    display: none;
}
.header-navigation ul a span 
{
    font-weight: bolder;
    padding: 0 5px;
}
.header-navigation ul a:hover 
{
    border-bottom: 3px solid rgb(170, 170, 170);
}
.active 
{
    border-bottom: 3px solid white;
}
@media screen and (max-width: 900px)
{
    .header-container
    {
        /* font-size: 10px */
    }
    .header-navigation ul
    {
        width: 600px;
        height: 100px;
        padding:0;
        margin:0;
        gap: 20px;
    }
    .header-navigation ul a
    {
        font-size: 15px;
        padding-right: 30px;
    }
}
@media screen and (max-width:700px)
{
    .header-container
    {
        justify-content: space-between;
        padding: 25px 35px;
    }
    .header-navigation ul
    {
        flex-direction: column;
        justify-content: start;
        position: absolute;
        top:0;
        right: 0;
        height: 100vh;
        gap: 10px;
        width: 60vw;
    }
    .header-navigation ul a 
    {
        font-size: 20px;
    }
    .burger-icon
    {
        display: block;
        color:white;
        cursor: pointer;
        z-index: 99;
        position: absolute;
        top:40px;
        right: 30px;
    }
}